/* HEAD NAVBAR / MOBILE RESPONSIVE */
header{
    background-color: rgba(22, 22, 21, 1);
}
.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 15px ;
    
}

.logo img {

    margin-left: 0;
    display: block; 
    height: auto; 
    max-height: 60px; 
    margin-top: 0px;
}

.open-menu {
    display: none;
}  

.menu {
    display: flex;
    /* align-items: left; */
    /* margin-right: 400px; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.menu li {
    padding: 0 10px;

}

.menu li a {
    display: inline-block;
    text-decoration: none;
    margin-right: 10px;
    padding: 10px 15px; 
    border-radius: 2px;
    margin-right: 5px; 
    float: left;
    color: yellow;
    transition: 0.3s ease;
}

/* Hamburgermenu-stijlen voor mobiele weergave */
#check {
    display: none;
}

.menu-icon {
    display: none;
    cursor: pointer;
    font-size: 30px;
    color: white;
}

@media(min-width: 862px){
    .menu li a {
        /* background-color: yellow;  */
        color: yellow; 
        padding: 1px;
        margin: 5px;
    }
}

/* Mediaquery voor mobiele weergave */
@media (max-width: 861px) {
    
    .open-menu {
        color: white; 
        font-size: 24px; 
        cursor: pointer;
        display: block;
    

    }  
    .menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 70px;
        color: white;
        left: 0;
        right: 0;
        /* width: 1200px; */
        padding: 10px;
        background-color: rgba(22, 22, 21, 1);
        box-shadow: 0 0 2px rgba(254, 234, 9, 0.449);
    }
    .logo img {
        max-width: 200px;
        height: auto;
        padding-right: 10px;
        background-color: rgba(22, 22, 21, 1);
        padding: 10px;
        margin-left: 5px;
    }

    .menu.active {
        display: flex;
    }

    #check:checked + .menu {
        display: flex;
    }

    .menu-icon {
        font-size: 36px;
        color: white;
        cursor: pointer;
        margin-right: 20px; 
    }
    .menu li {

        padding: 10px; 
        background-color: transparent; 
    }
}